<!DOCTYPE html>
<html>
<head>
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/assets/pong.css">
</head>
<body>
  <h1>You are playing against friends</h1>
  <div class="status">Game is not yet started</div>
  <canvas id="pong" width="600" height="400"></canvas>
  <div id="permissions">
    <p>permissions are here</p>
  </div>
  <div class="buttons">
    <button type="button" id="startBtn">Start The Game</button>
    <button type="button" id="ResetButton">Reset The Game</button>
    <button type="button" id="pauseButton">Pause The Game</button>
  </div>

  <script type="text/javascript" src="/assets/vsPlayers.js"></script>
</body>
</html>
